{% extends "base.html" %}
            {% block content %}
            <div class="row">
                <form class="navbar-form" role="form">
                    <h2>Search: moon is real</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="moon is real">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>

                </form>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>
                            <div class="col-sm-3 container-fluid">
                                <div>
                                    <h2>
                                    </h2>
                                    <img class="img-responsive" src="http://localhost/1.jpg" alt="avatar">
                                </div>
                                <div>
                                    counter
                                </div>
                            </div>
                            <div class="col-sm-9 container-fluid">
                                <h2>
                                    How to build a moon park?
                                </h2>

                                <p>
                                    The Moon (in Greek: σελήνη Selene, in Latin: Luna) is Earth's only natural
                                    satellite.[e][9] It
                                    is one of the largest natural satellites in the Solar System, and, among planetary
                                    satellites,
                                    the largest relative to the size of the planet it orbits (its primary).[f][g] It is
                                    the
                                    second-densest satellite among those whose densities are known (after Jupiter's
                                    satellite Io)
                                    <br>
                                    The Moon is thought to have formed approximately 4.5 billion years ago, not long
                                    after Earth.
                                    There are several hypotheses for its origin; the most widely accepted explanation is
                                    that the
                                    Moon formed from the debris left over after a giant impact between Earth and a
                                    Mars-sized body
                                    called Theia.

                                </p>

                                <p>
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">answer(5)</a>
                                    Tags:
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">Django</a>
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">Technotrack</a>
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">Java</a>
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-sm-3 container-fluid">
                                <div>
                                    <h2>
                                    </h2>
                                    <img class="img-responsive" src="http://localhost/1.jpg" alt="avatar">
                                </div>
                                <div>
                                    counter
                                </div>
                            </div>
                            <div class="col-sm-9 container-fluid">
                                <h2>
                                    How to build a moon park?
                                </h2>

                                <p>
                                    The Moon (in Greek: σελήνη Selene, in Latin: Luna) is Earth's only natural
                                    satellite.[e][9] It
                                    is one of the largest natural satellites in the Solar System, and, among planetary
                                    satellites,
                                    the largest relative to the size of the planet it orbits (its primary).[f][g] It is
                                    the
                                    second-densest satellite among those whose densities are known (after Jupiter's
                                    satellite Io)
                                    <br>
                                    The Moon is thought to have formed approximately 4.5 billion years ago, not long
                                    after Earth.
                                    There are several hypotheses for its origin; the most widely accepted explanation is
                                    that the
                                    Moon formed from the debris left over after a giant impact between Earth and a
                                    Mars-sized body
                                    called Theia.

                                </p>

                                <p>
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">answer(5)</a>
                                    Tags:
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">Django</a>
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">Technotrack</a>
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">Java</a>
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-sm-3 container-fluid">
                                <div>
                                    <h2>
                                    </h2>
                                    <img class="img-responsive" src="http://localhost/1.jpg" alt="avatar">
                                </div>
                                <div>
                                    counter
                                </div>
                            </div>
                            <div class="col-sm-9 container-fluid">
                                <h2>
                                    How to build a moon park?
                                </h2>

                                <p>
                                    The Moon (in Greek: σελήνη Selene, in Latin: Luna) is Earth's only natural
                                    satellite.[e][9] It
                                    is one of the largest natural satellites in the Solar System, and, among planetary
                                    satellites,
                                    the largest relative to the size of the planet it orbits (its primary).[f][g] It is
                                    the
                                    second-densest satellite among those whose densities are known (after Jupiter's
                                    satellite Io)
                                    <br>
                                    The Moon is thought to have formed approximately 4.5 billion years ago, not long
                                    after Earth.
                                    There are several hypotheses for its origin; the most widely accepted explanation is
                                    that the
                                    Moon formed from the debris left over after a giant impact between Earth and a
                                    Mars-sized body
                                    called Theia.

                                </p>

                                <p>
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">answer(5)</a>
                                    Tags:
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">Django</a>
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">Technotrack</a>
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">Java</a>
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-sm-3 container-fluid">
                                <div>
                                    <h2>
                                    </h2>
                                    <img class="img-responsive" src="http://localhost/1.jpg" alt="avatar">
                                </div>
                                <div>
                                    counter
                                </div>
                            </div>
                            <div class="col-sm-9 container-fluid">
                                <h2>
                                    How to build a moon park?
                                </h2>

                                <p>
                                    The Moon (in Greek: σελήνη Selene, in Latin: Luna) is Earth's only natural
                                    satellite.[e][9] It
                                    is one of the largest natural satellites in the Solar System, and, among planetary
                                    satellites,
                                    the largest relative to the size of the planet it orbits (its primary).[f][g] It is
                                    the
                                    second-densest satellite among those whose densities are known (after Jupiter's
                                    satellite Io)
                                    <br>
                                    The Moon is thought to have formed approximately 4.5 billion years ago, not long
                                    after Earth.
                                    There are several hypotheses for its origin; the most widely accepted explanation is
                                    that the
                                    Moon formed from the debris left over after a giant impact between Earth and a
                                    Mars-sized body
                                    called Theia.

                                </p>

                                <p>
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">answer(5)</a>
                                    Tags:
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">Django</a>
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">Technotrack</a>
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">Java</a>
                                </p>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <nav>
                    <ul class="pagination">
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li class="disabled"><a href="#">2 <span class="sr-only"></span></a></li>
                        <li class="disabled"><a href="#">3 <span class="sr-only"></span></a></li>
                        <li class="disabled"><a href="#">4 <span class="sr-only"></span></a></li>
                        <li class="disabled"><a href="#">5 <span class="sr-only"></span></a></li>
                        <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    </ul>
                </nav>
            </div>
            {% endblock %}