{% extends "base.html" %}
{% block content %}

            <div class="row">
                <div class="col-sm-3 container-fluid">
                        <img class="img-responsive" src="http://localhost/{{question.user.image_url}}" alt="avatar">
                    <span>
                        <img  src="http://localhost/like.png"  height="22" width="22" alt="avatar">
                        5
                        <img src="http://localhost/dislike.png"  height="22" width="22" alt="avatar">
                    </span>

                </div>
                <div class="col-sm-9 container-fluid">
                    <h2>
                        {{question.title}}
                    </h2>

                    <p>
                        {{question.text}}
                    </p>

                    <p>
                        Tags:
                        <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                           data-query-source="trend_click">Django</a>
                        <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                           data-query-source="trend_click">Technotrack</a>
                        <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                           data-query-source="trend_click">Java</a>
                    </p>
                </div>
            </div>
            <table class="table table-striped">
                <tbody>
                {% for answer in answers %}
                <tr>
                    <td>
                    <div class="col-sm-3 container-fluid">
                        <div>
                            <h2>
                            </h2>
                            <img class="img-responsive" src="http://localhost/{{ answer.user.image_url}}" alt="avatar">
                        </div>
                        <div>
                            counter
                        </div>
                    </div>
                    <div class="col-sm-9 container-fluid">
                        <h2>
                            <a name="answer{{answer.pk}}"/>
                            {{answer.title}}
                        </h2>

                        <p>
                            {{answer.text}}
                        </p>

                        <input type="checkbox"> Correct
                    </div>
                    </td>
                </tr>

                {% endfor %}

                </tbody>
            </table>

            <div class="row">

            </div>

            <div class="row">

                {% load widget_tweaks %}
                <form class="form-horizontal">
                    {% csrf_token %}
                    <h2 class="form-signin-heading">Answer this question</h2>
                    {% for field in form %}
                    {%if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                    {%endif%}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ field.label_tag }}</label>
                        <div class="col-sm-9 container-fluid">
                            {{ field  |add_class:"form-control" }}
                        </div>
                    </div>

                    {% endfor %}
                    <div class="form-group">
                        <div class="col-sm-2">
                            <button class="btn btn-lg btn-primary " formmethod="post" type="submit">Answer!</button>
                        </div>
                    </div>
                </form>



            </div>


{% endblock %}