{% extends "base.html" %}
{% block content %}

            <div class="row" id="test_id">
                <form class="navbar-form" role="form">
                    <h2>Search: moon is real</h2>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="moon is real">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                    <a class="js-nav trend-name" dir="ltr" href="http://localhost/{{question.search}}?sort=date" >sort by date</a>
                    <a class="js-nav trend-name" dir="ltr" href="http://localhost/{{question.search}}?sort=title" >sort by title</a>
                    <a class="js-nav trend-name" dir="ltr" href="http://localhost/{{question.search}}?sort=likes" >sort by likes</a>

                </form>
            </div>


            <div class="row">
                <table class="table table-striped">
                    <tbody>
                    {% for question in questions %}
                    <tr>
                        <td>
                            <div class="col-sm-3 container-fluid">
                                <div>
                                    <h2>
                                    </h2>
                                    <img class="img-responsive" src="http://localhost/{{question.user.image_url}}" alt="avatar">
                                </div>
                                <div>
                                                        <span>
                        <img src="http://localhost/like.png" height="22" width="22" alt="avatar" onclick="likeQuestion( {{ question.pk }} )">
                                                  <span id="likes_count{{ question.pk }}">
                        {{question.likequestion_set.count}}
                                                      </span>
                        <img src="http://localhost/dislike.png" height="22" width="22" alt="avatar">
                    </span>
                                </div>
                            </div>
                            <div class="col-sm-9 container-fluid">
                                <h4>
                                    <a href="{% url 'question' pk=question.pk %}">{{question.title}}</a>
                                </h4>

                                <p>
                                    {{question.text}}
                                </p>

                                <p>
                                    <a class="js-nav trend-name" dir="ltr" href="{% url 'question' pk=question.pk %}"
                                       data-query-source="trend_click">{{question.answer_set.count}} answers</a>
                                    Tags:
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">Django</a>
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">Technotrack</a>
                                    <a class="js-nav trend-name" dir="ltr" href="/hashtag/totliv?src=tren"
                                       data-query-source="trend_click">Java</a>
                                </p>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row">
                <nav>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        {% for pg in page_obj.paginator.page_range %}
                        {% if page_obj.number == pg %}
                        <li class="active"><a href="?page={{ pg }}">{{ pg }}<span class="sr-only">(current)</span></a></li>
                        {% else %}
                        <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

<script>
function likeQuestion( question_id2) {
    document.getElementById("likes_count".concat(question_id2 ) ).innerHTML =0;
    $.ajax({
        url:  'http://localhost/like_question',
        type: 'POST',
        data: "{ user_id: {{ user_id }}, question_id: question_id2 }",
    }).success(function(data) {
        if (data.status == 'ok') {
            document.getElementById("likes_count".concat(question_id2 ) ).innerHTML "asdasd";
        }
    }).error(function() {
        document.getElementById("likes_count".concat(question_id2 ) ).innerHTML "45";
    })
    .always(function() {
    document.getElementById("likes_count".concat(question_id2 ) ).innerHTML "45";
});
}
</script>

{% endblock %}