{% extends "base.html" %}
{% block content %}
            <form class="form-horizontal">
                <h2 class="form-signin-heading">Registration</h2>
                <div class="alert alert-danger">
                    Sory, this email adderss is not correct!
                </div>
                <div class="form-group">
                    <label for="exampleInputLogin1" class="col-sm-2 control-label">Login</label>
                    <div class="col-sm-5">
                        <input type="login" class="form-control" id="exampleInputLogin1" placeholder="Login">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="exampleInputEmail1">Email address</label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="exampleInputNickName1">NickName</label>
                    <div class="col-sm-5">
                        <input type="NickName" class="form-control" id="exampleInputNickName1" placeholder="NickName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="exampleInputFile">Upload avatar</label>
                    <div class="col-sm-5">
                        <div>
                            <img class="img-responsive" src="http://localhost/1.jpg" alt="avatar" >
                        </div>
                        <div>
                            <input type="file" id="exampleInputFile">
                        </div>

                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-lg btn-primary " type="submit">Save</button>
                </div>
            </form>
{% endblock %}